{% extends 'base.html' %} {% block title %} Password Reset {% endblock %} {%
block header %} Password Reset {% endblock %} {% block body %}
<p>Hello,</p>
<p>
  We have received a request to reset the password for your account. To ensure
  the security of your account, plases follow the instructions below to complete
  the password reset process:
</p>
<ol>
  <li>
    Click on the following link to access the password reset page:
    <a href="{{ reset_link }}">Reset Password</a>
  </li>
  <li>
    You will be redirected to a secure webpage where you can enter your new
    password.
  </li>
  <li>Choose a strong and unique password that is not easliy guessable.</li>
  <li>Confirm your new password by entering it again.</li>
  <li>
    Once you have successfully reset your password, you can log in to your
    account using the new password.
  </li>
</ol>
<p>
  Please note that this password reset link will expire within a short period.
  If you do not complete the process within this time, you will need to initiate
  a new password reset request.
</p>
<p>
  Best regards,
  <br />
  Support Team
</p>

{% endblock %}
